<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a style="font-weight: bold;color: #000000" class="navbar-brand" href="/">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a style="color: yellow;font-weight: bold"class="nav-link" href="/facedetection">Face Detection</a>
            </li>
            <li class="nav-item active">
                <a style="color: yellow;font-weight: bold" class="nav-link" href="/motiondetection">Motion Detection</a>
            </li>
            <li class="nav-item active">
                <a style="color: yellow;font-weight: bold" class="nav-link" href="/streaming">Stream</a>
            </li>
            <li class="nav-item active">
                <a style="color: yellow;font-weight: bold" class="nav-link" href="/info">İnformation</a>
            </li>
        </ul>
    </div>
</nav>